# Ignore code env dir
*venv/
*.vscode/
*__pycache__/
*.pytest_cache/
*node_modules/
# Ignore log files
*.log

# Ignore production files
*.prod.*
*.env

# Ignore system/virtualbox/ dir that contains big files
system/virtualbox/ovf/
system/virtualbox/vms/

# Ignore dev configuration
.sync.*.json